.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  background-color: var(--light-base);
  font-size: 1.5rem;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
}

:global(.dark) .wrapper {
  background-color: var(--dark-base);
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.input {
  flex-grow: 1;
}
